<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/markus/Documents/temp</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>27263D3F-BAE5-4472-9923-FEA5D0D6580C</key>
		<dict>
			<key>BinderUUID</key>
			<string>27263D3F-BAE5-4472-9923-FEA5D0D6580C</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>482 282 475 528 0 0 1440 904 </string>
		</dict>
	</dict>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 854}}</string>
		<string>{{176, 0}, {1264, 854}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {488, 224}}</string>
	</array>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1018, 824}}</string>
		<string>{{1019, 0}, {245, 824}}</string>
	</array>
	<key>mainDocumentEditor.cardWidth</key>
	<real>375</real>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 18659.333333333332}, {375.33333333333331, 376}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>280 73 1000 678 0 0 1280 797 </string>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
